* {
    border: 1px solid blue
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'SF Pro Display',sans-serif;
    background-color: #FBFBFD;
    margin: 0;
}
ul {
    list-style: none;
}
.top-nav > li {
    display: inline-block;
    color:#AEAEAE;
    padding: 0 1.5em;
    font-size: 13px;
}
.top-nav {
    background-color: #333333;
    text-align: center;
    padding: 14px 240px;
    margin: 0;
    max-width: 100%;
    position: fixed;
    opacity: .9;
    
}
.top-nav-font{
    text-decoration: none;
    color:white;
}
.pop-up {
    background-color: #F5F5F7;
    font-size: 11px;
    text-align: center;
}
p > a {
    text-decoration: none;
}
#pop-up {
    margin-top: 51px;
}
.main-ads {
    max-width:100%;
    height:50%;
}
.main-deals > h1 {
    position:relative;
    top: 7em;
    left: 16em
}
.white-font {
    color: white;
}
