/* * {
    border: 1px solid blue
} */

/* General Layout */
body {
    display: flex;
    flex-direction: column;
    font-family: 'SF Pro Display',sans-serif;
    background-color: #FBFBFD;
    margin: 0;
}
/* Nav Bar Styling */
ul {
    list-style: none;
}
.top-nav > li {
    display: inline-block;
    color:#AEAEAE;
    padding: 0 1.5em;
    font-size: 13px;
}
.top-nav {
    background-color: #333333;
    text-align: center;
    padding: 16px;
    margin: 0;
    width: 100%;
    position: fixed;
    opacity: .9;
    left: 0;
    right: 0;
    top: 0;
    
}
.top-nav-font{
    text-decoration: none;
    color:white;
}

/* Pop up Styling */
.pop-up {
    background-color: #F5F5F7;
    font-size: 11px;
    text-align: center;
}
 a {
    text-decoration: none;
}
div a:visited {
    color:#2997FE;
}
#pop-up {
    margin-top: 51px;
}

/* Large Ads Styling */
.main-ads {
    max-width:100%;
    height:50%;
}
.main-deals > h1 {
   position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-46%, 81%);
  font-size: 4vw;
  text-size-adjust: auto;
}
.white-font {
    color: white;
}
.purple-font {
    color: #FEC2EB
}
.main-deals {
    margin: 0.5em;
}
.main-deals > p {
    position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-46%, 400%);
  font-size: 2vw;
}

.links {
    position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-46%, 595%);
  font-size: 2vw;
}

.links > a {
    padding: 0 1.5em;
}
/* Mini Ads Styling */
.container {
    display: flex;
    flex-wrap: wrap;
}
.container > div {
    width: 48%;
    margin: 5px;
}
.mini-ads {
    max-width: 100%;
    height: auto;
}

aside {
    position: absolute;
    text-align: center;

   
}
/* Fine Print Styling */
footer {
    background-color: #F5F5F7;
}
.tiny-print > li {
    color: #838388;
    font-size: small;
    padding: .5em 0;
}
.tiny-print {
    padding: 0;
    margin: 1em 10em;
}